* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family: "Roboto", sans-serif;
}

.header {
    height: 189px;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.h1 {
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 80px;
    color: #000;
    line-height: 94px;
    /*display: flex;*/
    /*align-items: flex-end;*/
}

span {
    color: #4bcaff;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    background: #35444F;
}

.menu-item {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    padding: 15px 30px;
}

.menu-item-link1 .menu-item-link2 .menu-item-link3 {
    border-right: none;
}

.menu-item-link {
    text-decoration: none;
    color: #fff;
}

.menu-item:hover {
    background-color: #222f3a;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

aside {
    border: 1px solid #000;
    width: 344px;
    height: 399px;
}

.aside-menu {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 27px;
    line-height: 100%;
    list-style-type: none;
}

.aside-link {
    text-decoration: none;
    color: #485863;
}

.aside-menu-item {
    padding: 25px 30px;
}

.aside-menu-item:hover {
    background: #dbdbdb;
    color: #000;
    text-align: center;
}

.article {
    width: 885px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image {
    width: 885px;
    height: 529px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-image {
    width: 320px;
    height: 381px;
}

.main-image:hover {
    transform: scale(1.1);
    transition: 0.25s;
}

section {
    /*width: 885px;*/
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    color: #2c2c2c;
}

.paragraph-1 {
    margin-top: 45px;
}

.paragraph-2 {
    margin-top: 8px;
}

.footer {
    margin-top: 50px;
    height: 69px;
    background: rgba(99, 105, 110, 0.48);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-text {
    display: flex;
    justify-content: space-evenly;
    font-family: var(--font-family);
    font-weight: 400;
    line-height: 100%;
    list-style-type: none;
    font-size: 28px;
}

.footer-text-item {
    padding: 15px 15px;
}

.footer-text-item:hover {
    color: #3181a6;
    border-bottom: 1px solid #3181a6;
}

.aside-link {
    text-decoration: none;
    color: #0c1927;
}

.copyright {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: #010101;
}